@import "node_modules/bootstrap/scss/bootstrap/";


.hover-style-thick {
    border-width: 0.1em !important;

    &:hover {
        .card-header {
            color: $success;
        }
        
        cursor: pointer;
        border-color: $success;
        transform: scale(1.01);

        svg {
            fill: $success;
            cursor: pointer;
        }

        p {
            color: $success;
        }
    }
}

.hover-style {

    &:hover {
        cursor: pointer;
        border-color: $success;
        transform: scale(1.01);

        svg {
            fill: $success;
            cursor: pointer;
        }

        p {
            color: $success;
        }
    }
}