@import "node_modules/bootstrap/scss/bootstrap/";

.modifyPadding {
    $pad: 0.4em;
    padding: $pad $pad !important;
}

.removePadding {
    padding: 0 !important;
}

.scale-50 {
    transform: scale(0.7);
    background-color: $danger !important;
}