@import "node_modules/bootstrap/scss/bootstrap/";


.hover-style {

    &:hover {
        // background-color: green;
        cursor: pointer;
        border-color: $success;
        z-index: 999;

        svg {
            fill: $success;
            cursor: pointer;
        }

        p {
            font-weight: bold;
            color: $success;
        }
    }
}

